/*  your css code here. If applicable */
#container{
	margin:20px;
}

p::before{
	content:" beforeContent ";
	color:rgb(255,0,0);
	font-size:20px;
}

p::after{
	content:" afterContent";
	color:rgb(255,0,0);
	font-size:20px;
}